body {
  margin: 0;
  padding: 0;
}

/** Presets */
body,
:root {
  --primary: #0084ff;

  font-family: "Source Sans Pro", sans-serif;
}

.header {
  position: relative;
  width: 100%;
}

.header .logo {
  padding: 10px;
  color: white;
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 0.1rem;
  background-color: var(--primary);
}
